<%- include("../parts/html-head") %>
<%- include("../parts/navbar") %>
<main class="main-content p-3">
  <!-- 大標 -->
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="m-0">查看訂單</h2>
  </div>
  <hr />


<%- include("../parts/scripts") %>
<%- include("../parts/html-foot") %>